<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="./frontEndPackage/owlcarousel/owl.carousel.min.css" />
        <link rel="stylesheet" href="./frontEndPackage/owlcarousel/owl.theme.default.min.css" />
        <link
            rel="stylesheet"
            href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css"
            integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N"
            crossorigin="anonymous"
        />
        <link rel="stylesheet" href="./frontEndPackage/css/material-icons.css" />
        <link rel="stylesheet" href="./frontEndPackage/bootstrap-icons/bootstrap-icons.css" />
        <link rel="stylesheet" href="./frontEndPackage/lightbox/lightbox.min.css" />
        <link rel="stylesheet" href="./frontEndPackage/vueloading/vue-loading.css">
        <link rel="stylesheet" href="./frontEndPackage/style/all.css?123" />
        <title>我的儀器</title>
    </head>
    <body>
        <div id="app">
            <loading :active="isLoading"></loading>
            <vue-nav :login="isLogin"></vue-nav>
            <section class="breadcrumb-container mb-5">
                <ol class="d-flex list-unstyled breadcrumb-list mb-0">
                    <li><a href="/">首頁</a></li>
                    <li class="active"><a href="###">我的儀器清單</a></li>
                </ol>
            </section>
            <main class="container-lg instrument-container">
                <ul class="tab-container d-flex list-unstyled mb-0">
                    <li><a href="###" class="h-100 active">我的儀器清單</a></li>
                    <li><a href="/all.html">全機種/耗材一覽</a></li>
                </ul>
                <div class="d-flex right-btns">
                    <a href="./renew.html" class="mr-2">續約</a>
                    <button type="button" :class="{'btnActive':inquiryNum, 'swing': isInquiryNumChanging}">
                        <span class="mr-2" v-if="inquiryNum">{{inquiryNum}}</span>詢價
                    </button>
                </div>
                <div class="table-title d-none d-sm-flex">
                    <span style="width: 8%">編號</span>
                    <span style="width: 12%">圖片</span>
                    <span style="width: 17%">主設備序號</span>
                    <span style="width: 20%">機型</span>
                    <span style="width: 30%">合約日期</span>
                    <span style="width: 13%"></span>
                </div>
                <div class="accordion-container">
                    <div class="accordion" id="accordionExample">
                        <div class="item" v-for="item in equipmentData" :key="item.id">
                            <div class="d-sm-none mb-ask">
                                <img :src="item.imgUrl.large" :alt="item.imgUrl.alt" class="w-100" />
                                <button type="button" class="ask-btn" data-toggle="modal" data-target="#addToListModal">
                                    加入詢價<i class="bi bi-plus"></i>
                                </button>
                            </div>
                            <div class="item-btn" :id="'heading'+item.id">
                                <div data-title="編號"><span>{{item.id}}</span></div>
                                <a
                                    data-title="圖片"
                                    class="d-none d-sm-table-cell"
                                    :href="item.imgUrl.large"
                                    :data-lightbox="'pic'+item.id"
                                >
                                    <img :src="item.imgUrl.small" :alt="item.imgUrl.alt" />
                                </a>
                                <div data-title="主設備序號">
                                    <span>{{item.number}}</span>
                                </div>
                                <div data-title="機型">
                                    <span>{{item.title}}</span>
                                </div>
                                <div data-title="合約日期">
                                    <div class="d-flex flex-wrap align-items-center">
                                        <span class="mr-2">{{item.date}}</span>
                                        <span class="expire-hint">合約即將到期</span>
                                    </div>
                                </div>
                                <button
                                    type="button"
                                    class="ask-btn d-none d-sm-inline-block"
                                    data-toggle="modal"
                                    data-target="#addToListModal"
                                >
                                    加入詢價<i class="bi bi-plus"></i>
                                </button>

                                <button
                                    class="accordion-switch"
                                    type="button"
                                    data-toggle="collapse"
                                    :data-target="'#collapse'+item.id"
                                    aria-expanded="true"
                                    :aria-controls="'collapse'+item.id"
                                    @click="showDetail"
                                >
                                    <span class="mr-1 d-sm-none fs-14" v-if="!accordionCollapse">收起</span>
                                    <span class="mr-1 d-sm-none fs-14" v-else>詳細資料</span
                                    ><i class="bi bi-chevron-down align-middle"></i>
                                </button>
                            </div>
                            <div
                                :id="'collapse'+item.id"
                                class="collapse show"
                                :aria-labelledby="'heading'+item.id"
                                data-parent="#accordionExample"
                            >
                                <div class="d-flex flex-wrap item-content">
                                    <div>
                                        <a
                                            class="d-flex align-items-center justify-content-center"
                                            @click="openModal(item, '#historyModal')"
                                        >
                                            <span class="material-icons mr-1"> pending_actions </span>
                                            <h3 class="mb-0">歷史維修紀錄</h3>
                                        </a>
                                    </div>
                                    <div>
                                        <a
                                            @click="openModal(item, '#materialModal')"
                                            class="d-flex align-items-center justify-content-center"
                                        >
                                            <span class="material-icons mr-1"> receipt_long </span>
                                            <h3 class="mb-0">耗材清單</h3>
                                        </a>
                                    </div>
                                    <div>
                                        <a href="./renew.html" class="d-flex align-items-center justify-content-center">
                                            <span class="material-icons-outlined mr-1">
                                                drive_file_rename_outline
                                            </span>
                                            <h3 class="mb-0">我要簽新合約</h3>
                                        </a>
                                    </div>
                                    <div>
                                        <a
                                            @click="openModal(item, '#checkNumberModal')"
                                            class="d-flex align-items-center justify-content-center"
                                        >
                                            <span class="material-icons mr-1"> list </span>
                                            <h3 class="mb-0">查看附件序號</h3>
                                        </a>
                                    </div>
                                    <div>
                                        <a href="./other.html?selectedService=線上叫修" class="d-flex align-items-center justify-content-center">
                                            <span class="material-icons mr-1"> construction </span>
                                            <h3 class="mb-0">線上叫修</h3>
                                        </a>
                                    </div>
                                    <div>
                                        <a href="./other.html?selectedService=預約保養" class="d-flex align-items-center justify-content-center">
                                            <span class="material-icons mr-1"> engineering </span>
                                            <h3 class="mb-0">預約保養</h3>
                                        </a>
                                    </div>
                                    <div>
                                        <a href="./other.html?selectedService=技術詢問" class="d-flex align-items-center justify-content-center">
                                            <span class="material-icons mr-1"> help </span>
                                            <h3 class="mb-0">技術詢問</h3>
                                        </a>
                                    </div>
                                    <div>
                                        <a href="./other.html?selectedService=教育訓練" class="d-flex align-items-center justify-content-center">
                                            <span class="material-icons mr-1"> psychology </span>
                                            <h3 class="mb-0">教育訓練</h3>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </main>
            <!-- added modal start -->
            <div
                class="modal fade"
                id="addToListModal"
                tabindex="-1"
                aria-labelledby="addToListModalLabel"
                aria-hidden="true"
            >
                <div class="modal-dialog modal-sm modal-dialog-centered">
                    <div class="modal-content">
                        <div class="modal-body d-flex flex-column justify-content-center align-items-center">
                            <i class="bi bi-check-circle-fill add-icon"></i>
                            <div class="text-center">已加入</div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn" data-dismiss="modal" @click="addInquiry()">確認</button>
                        </div>
                    </div>
                </div>
            </div>
            <!-- added modal end -->

            <!-- 歷史維修 modal start -->
            <history :product="tempProduct"></history>
            <!-- 歷史維修 modal end -->

            <!-- 耗材清單 modal end -->
            <material :product="tempProduct" @emit-num="addInquiry" @emit-all="addInquiry"></material>
            <!-- 耗材清單 modal end -->

            <!-- 附件序號 modal start -->
            <check :product="tempProduct"></check>
           
            <!-- 附件序號 modal end -->

            <chat></chat>
            <vue-footer class="pb-5 pb-sm-0"></vue-footer>
        </div>

        <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.min.js"></script>
        <script
            src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
            integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
            crossorigin="anonymous"
        ></script>
        <script
            src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.min.js"
            integrity="sha384-+sLIOodYLS7CIrQpBjl+C7nPvqq+FbNUBDunl/OZv93DB7Ln/533i8e/mZXLi/P+"
            crossorigin="anonymous"
        ></script>
        <script src="./frontEndPackage/owlcarousel/owl.carousel.min.js"></script>
        <script src="./frontEndPackage/lightbox/lightbox.min.js"></script>
        <script src="./frontEndPackage/vueloading/vue-loading.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
        <script src="./frontEndPackage/js/all.js"></script>
        <script type="module">
            import VueFooter from "./components/footer.js";
            import VueNav from "./components/nav.js";
            import Chat from "./components/chatWindow.js";
            import History from "./components/historyModal.js";
            import Material from "./components/materialModal.js";
            import Check from "./components/checkMaterialModal.js";
            const app = new Vue({
                el: "#app",
                data() {
                    return {
                        isLogin: true,
                        isLoading: true,
                        inquiryNum: 0,
                        equipmentData: [
                            {
                                id: "1",
                                imgUrl: {
                                    small: "./frontEndPackage/images/product-sm.jpg",
                                    large: "./frontEndPackage/images/product-lg.jpg",
                                    alt: "spectrometer",
                                },
                                number: "06UPLC L22135800614-01",
                                title: "紫外/可見光-近紅外光分光光譜儀",
                                date: "2023/03/16-2023/12/25",
                            },
                            {
                                id: "2",
                                imgUrl: {
                                    small: "./frontEndPackage/images/product-sm.jpg",
                                    large: "./frontEndPackage/images/product-lg.jpg",
                                    alt: "spectrometer",
                                },
                                number: "06UPLC L22135800614-02",
                                title: "紫外/可見光-近紅外光分光光譜儀",
                                date: "2023/03/16-2023/12/25",
                            },
                        ],
                        accordionCollapse: false,
                        isInquiryNumChanging: false,
                        tempProduct: {},
                    };
                },
                methods: {
                    addInquiry(num = 1) {
                        this.inquiryNum += num;
                    },
                    showDetail() {
                        this.accordionCollapse = !this.accordionCollapse;
                    },
                    openModal(item, modalName) {
                        this.tempProduct = { ...item };
                        $(modalName).modal("show");
                    },
                },
                watch: {
                    inquiryNum(newValue, oldValue) {
                        if (newValue !== oldValue) {
                            this.isInquiryNumChanging = true;
                            setTimeout(() => {
                                this.isInquiryNumChanging = false;
                            }, 1000);
                        }
                    },
                },
                components: {
                    VueFooter,
                    VueNav,
                    Chat,
                    History,
                    Material,
                    Check,
                    Loading: VueLoading,
                },
                mounted() {
                    setTimeout(()=>{
                        this.isLoading=false;
                    },1500)
                },
            });
        </script>
    </body>
</html>
