html{
    scroll-behavior: smooth;
}
body{
    font-family: 'Noto Sans TC', sans-serif;
    color:$light-text;
    ::selection{
        background-color:rgba(110, 110, 110, 0.5);
    }
}

button, a, select{
    -webkit-appearance: none;
    appearance: none;
}

img {
    object-fit: cover;
    max-width: 100%;
    height: auto;
    vertical-align: middle;
}

a,
span, i{
    display: inline-block;
}

a,
a:hover {
    text-decoration: none;
}

@supports (-webkit-overflow-scrolling: touch) {
    button, a, select{
        -webkit-appearance: none;
        appearance: none;
    }
  }

