html{
    scroll-behavior: smooth;
}
body{
    font-family: 'Noto Sans TC', sans-serif;
    color:$light-text;
    ::selection{
        background-color:rgba(110, 110, 110, 0.5);
    }
}

button, a, select{
    -webkit-appearance: none;
    appearance: none;
}

img {
    object-fit: cover;
    max-width: 100%;
    height: auto;
    vertical-align: middle;
}

a,
span, i{
    display: inline-block;
}

a,
a:hover {
    text-decoration: none;
}

@supports (-webkit-overflow-scrolling: touch) {
    button, a, select{
        -webkit-appearance: none;
        appearance: none;
    }
  }

  input:-internal-autofill-selected{
    background-color:$white !important;
    box-shadow: 0 0 1000px $white inset !important;
  }

[class="error"]{
    font-size:14px;
    color:#e74c3c;
}

.form-control{
    color:$light-text !important;
}

[v-cloak]{
    display: none;
}