@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@400;700&display=swap");
html {
  scroll-behavior: smooth;
}

body {
  font-family: "Noto Sans TC", sans-serif;
  color: #626262;
}
body ::-moz-selection {
  background-color: rgba(110, 110, 110, 0.5);
}
body ::selection {
  background-color: rgba(110, 110, 110, 0.5);
}

button, a, select {
  -webkit-appearance: none;
  -moz-appearance: none;
       appearance: none;
}

img {
  -o-object-fit: cover;
     object-fit: cover;
  max-width: 100%;
  height: auto;
  vertical-align: middle;
}

a,
span, i {
  display: inline-block;
}

a,
a:hover {
  text-decoration: none;
}

@supports (-webkit-overflow-scrolling: touch) {
  button, a, select {
    -webkit-appearance: none;
    -moz-appearance: none;
         appearance: none;
  }
}
.bg-main {
  background-color: #DD0000;
}

.text-main {
  color: #DD0000;
}

.text-lightBlack {
  color: #626262;
}

.text-darkBlack {
  color: #333333;
}

.grey-text {
  color: #A4A4A4;
}

.text-white {
  color: #ffffff;
}

.text-black {
  color: #000000;
}

.text-nav {
  color: #626262;
}
.text-nav:hover {
  color: #DD0000;
  transition: all 0.3s ease-in-out;
}

.fs-12 {
  font-size: 12px;
}

.fs-14 {
  font-size: 14px;
}

.fs-16 {
  font-size: 16px;
}

.fs-18 {
  font-size: 18px;
}

.fs-20 {
  font-size: 20px;
}

.fs-22 {
  font-size: 22px;
}

.fs-24 {
  font-size: 24px;
}

.fs-32 {
  font-size: 32px;
}

.fs-48 {
  font-size: 48px;
}

.mb-18 {
  margin-bottom: 18px;
}

.mb-20 {
  margin-bottom: 20px;
}

.mb-30 {
  margin-bottom: 30px;
}

.mb-32 {
  margin-bottom: 32px;
}

.mb-40 {
  margin-bottom: 40px;
}

.mb-60 {
  margin-bottom: 60px;
}

.mb-64 {
  margin-bottom: 64px;
}

.mb-80 {
  margin-bottom: 80px;
}

.py-60 {
  padding: 60px 0;
}

.pb-32 {
  padding-bottom: 32px;
}

.w-1920 {
  max-width: 1920px;
  margin: 0 auto;
}

@media (min-width: 992px) {
  .nav-container {
    background-color: #ffffff;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 2;
  }
}
.nav-container nav {
  background-color: #ffffff;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0%;
  z-index: 2;
}
@media (min-width: 992px) {
  .nav-container nav {
    position: static;
  }
}
.nav-container h2 a {
  color: #af282f;
}
.nav-container h2 a span {
  color: #000000;
}
.nav-container .brand-name h1 {
  font-size: 2rem;
}
.nav-container .brand-name .logo {
  text-indent: 101%;
  overflow: hidden;
  white-space: nowrap;
  background-repeat: no-repeat;
  background-size: cover;
  width: 121%;
}
.nav-container .navbar-toggler {
  font-size: 1.5rem;
  padding: 0;
}
.nav-container .navbar-collapse.show {
  height: calc(100vh - 48px);
  background-color: #ffffff;
}
.nav-container .mobile-menu {
  flex-grow: 0;
}
.nav-container .mobile-menu a {
  transition: all ease-in-out 0.3s;
}
.nav-container .mobile-menu a:hover {
  color: #DD0000;
  transition: all ease-in-out 0.3s;
}
.nav-container .mobile-menu .active {
  color: #DD0000;
  transition: all ease-in-out 0.3s;
}

.banner-container {
  padding-top: 70px;
}
@media (min-width: 576px) {
  .banner-container {
    padding-top: 82px;
  }
}
.banner-container a {
  background-repeat: no-repeat;
  background-size: cover;
  padding-bottom: 50%;
  background-position: center;
  width: 100%;
}
@media (min-width: 576px) {
  .banner-container a {
    padding-bottom: 30%;
  }
}
.banner-container .owl-carousel {
  z-index: 0;
}
.banner-container .owl-dots {
  position: relative;
  top: -38px;
}
.banner-container .owl-dots span {
  width: 8px !important;
  height: 8px !important;
  margin: 5px !important;
}
.banner-container .owl-dots .owl-dot.active span {
  background-color: #DD0000 !important;
}

.service-container {
  padding: 40px 15px;
  min-height: calc(100vh - 388px);
}
.service-container .row {
  row-gap: 15px;
}
.service-container div[class~=col-6]:nth-child(odd) {
  padding-right: 7.5px;
}
@media (min-width: 768px) {
  .service-container div[class~=col-6]:nth-child(odd) {
    padding-right: 15px;
  }
}
.service-container div[class~=col-6]:nth-child(even) {
  padding-left: 7.5px;
}
@media (min-width: 768px) {
  .service-container div[class~=col-6]:nth-child(even) {
    padding-left: 15px;
  }
}
.service-container .item {
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.25);
  border-radius: 5px;
  background-color: rgb(255, 255, 255);
  position: relative;
  transition: all 0.3s ease-in-out;
  color: #626262 !important;
  padding: 40px 0;
}
.service-container .item::before {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  border: 8px solid;
  top: -8px;
  left: -8px;
  border-color: transparent transparent transparent #000000;
  transform: rotate(225deg);
  transition: all 0.3s ease-in-out;
}
.service-container .item::after {
  content: "";
  position: absolute;
  border-radius: 0 0 5px 5px;
  width: 100%;
  height: 4px;
  background-color: #000000;
  bottom: 0;
  left: 0;
  transition: all 0.3s ease-in-out;
}
.service-container .item h3 {
  letter-spacing: 1px;
}
@media (min-width: 576px) {
  .service-container .item h3 {
    letter-spacing: 2px;
  }
}
.service-container .item:hover {
  transform: translateY(-8px);
  transition: all 0.3s ease-in-out;
}
.service-container .item:hover::before {
  border-color: transparent transparent transparent #DD0000;
  transition: all 0.3s ease-in-out;
}
.service-container .item:hover::after {
  background-color: #DD0000;
  transition: all 0.3s ease-in-out;
}

.dialog-btn {
  width: 65px;
  height: 65px;
  line-height: 65px;
  text-align: center;
  border-radius: 50%;
  border: 1px solid #DD0000;
  position: fixed;
  z-index: 4;
  right: 16px;
  bottom: 100px;
  background-color: #ffffff;
}
.dialog-btn .headset-icon {
  color: #DD0000;
  font-size: 32px;
}
.dialog-btn.active {
  background-color: #DD0000;
  border: none;
}
.dialog-btn.active .headset-icon {
  color: #ffffff;
}

#dialogModal .modal-dialog {
  max-height: 600px;
  position: absolute;
  bottom: 0;
}
@media (min-width: 576px) {
  #dialogModal .modal-dialog {
    right: 100px;
  }
}
#dialogModal .modal-header {
  align-items: center;
}
#dialogModal .dialog-icon-container {
  width: 40px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  border-radius: 50%;
  background-color: #DD0000;
  flex-shrink: 0;
}
#dialogModal .dialog-icon-container .headset-icon {
  color: #ffffff;
  font-size: 22px;
}
#dialogModal .topicArea {
  position: absolute;
  width: 100%;
  top: 94px;
  z-index: 1;
  text-align: center;
  padding: 6px 0;
  background-color: #ffffff;
}
@media screen and (min-width: 417px) {
  #dialogModal .topicArea {
    top: 73px;
  }
}
#dialogModal .cs-message {
  display: flex;
  align-items: center;
}
#dialogModal .cs-message.first {
  padding-top: 40px;
}
#dialogModal .cs-message > div {
  max-width: 60%;
}
#dialogModal .cs-message .content {
  width: 100%;
  white-space: pre-line;
  word-wrap: break-word;
  border-radius: 20px;
  background-color: #ffffff;
  padding: 8px 12px;
}
#dialogModal .user-message {
  display: flex;
  justify-content: flex-end;
}
#dialogModal .user-message > div {
  max-width: 60%;
  align-items: flex-end;
}
#dialogModal .user-message .content {
  width: 100%;
  white-space: pre-line;
  word-wrap: break-word;
  border-radius: 20px;
  background-color: #ffffff;
  padding: 8px 12px;
}
#dialogModal .modal-body {
  background-color: #f5f5f5;
  padding: 1rem 1rem;
}
#dialogModal .ask-topic label {
  width: 90%;
}
#dialogModal .ask-topic input {
  width: 100%;
  border: 1px solid #d9d9d9;
  border-radius: 5px;
  height: 36px;
  padding: 5px;
  border: none;
}
#dialogModal .ask-topic input:focus-visible {
  outline-color: #DD0000;
}
#dialogModal .ask-topic button {
  border: none;
  background-color: transparent;
  transform: rotate(45deg);
  font-size: 20px;
  color: #333333;
}
#dialogModal .notInServiceAlert {
  background-color: #ffffff;
  border-radius: 10px;
}
#dialogModal .notInServiceAlert i {
  color: #DD0000;
  font-size: 80px;
}
#dialogModal .notInServiceAlert button {
  border: none;
  background-color: #333333;
  color: #ffffff;
  width: 95%;
  padding: 8px 0;
  margin: 16px auto;
  border-radius: 5px;
}
#dialogModal ul li:not(:last-child) {
  margin-bottom: 10px;
}
#dialogModal ul li {
  padding: 6px 16px;
  background-color: #ffffff;
  border: 1px solid #d9d9d9;
  border-radius: 10px;
}
#dialogModal ul li a:hover {
  color: #000000;
}
#dialogModal .modal-footer {
  justify-content: space-between;
  padding: 0.25rem 0.75rem;
}
#dialogModal .modal-footer button {
  border: none;
  background-color: transparent;
}
#dialogModal .modal-footer .attatch-btn label {
  cursor: pointer;
}
#dialogModal .modal-footer .attatch-btn i {
  font-size: 20px;
  color: #333333;
}
#dialogModal .modal-footer .send-btn {
  transform: rotate(45deg);
}
#dialogModal .modal-footer .send-btn:focus-visible, #dialogModal .modal-footer .send-btn:hover {
  outline: none;
}
#dialogModal .modal-footer .send-btn i {
  font-size: 20px;
  color: #333333;
}
#dialogModal .modal-footer textarea {
  width: 70%;
  padding: 6px 10px;
  border-radius: 50px;
  outline: 1px solid #d9d9d9;
  border: none;
}
#dialogModal .modal-footer textarea:focus-visible {
  outline-color: #DD0000;
}

.modal-backdrop {
  background-color: #ffffff;
  z-index: 3;
}

.modal-backdrop.show {
  opacity: 80%;
}

footer {
  background-color: #f7f7f7;
}
footer a:hover {
  color: #A4A4A4;
}
footer .photonic {
  opacity: 0.3;
}

.breadcrumb-container {
  padding-top: 70px;
}
@media (min-width: 576px) {
  .breadcrumb-container {
    padding-top: 82px;
  }
}

.breadcrumb-list {
  background-color: #f5f5f5;
  border: 1px solid #d9d9d9;
  border-left: none;
}
.breadcrumb-list li {
  width: 40%;
  /* flex-shrink:0; */
  position: relative;
  background-color: #d9d9d9;
  text-align: center;
}
@media (min-width: 768px) {
  .breadcrumb-list li {
    width: 30%;
  }
}
@media (min-width: 992px) {
  .breadcrumb-list li {
    width: 20%;
  }
}
.breadcrumb-list li a {
  display: inline-block;
  padding: 5px 0;
  color: #b8b8b8;
  width: 100%;
}
.breadcrumb-list li::before {
  content: "";
  position: absolute;
  z-index: -1;
  width: 99.5%;
  height: 100%;
  background-color: #f5f5f5;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.breadcrumb-list li.active a {
  color: #464646;
}
.breadcrumb-list li:first-child {
  -webkit-clip-path: polygon(0% 0%, 95% 0%, 100% 50%, 95% 100%, 0% 100%);
          clip-path: polygon(0% 0%, 95% 0%, 100% 50%, 95% 100%, 0% 100%);
}
.breadcrumb-list li:first-child::before {
  -webkit-clip-path: polygon(0% 0%, 95% 0%, 100% 50%, 95% 100%, 0% 100%);
          clip-path: polygon(0% 0%, 95% 0%, 100% 50%, 95% 100%, 0% 100%);
}
.breadcrumb-list li:not(:first-child) {
  margin-left: -2%;
}
.breadcrumb-list li:nth-child(2) {
  -webkit-clip-path: polygon(95% 0, 100% 50%, 95% 100%, 0% 100%, 5% 50%, 0% 0%);
          clip-path: polygon(95% 0, 100% 50%, 95% 100%, 0% 100%, 5% 50%, 0% 0%);
}
.breadcrumb-list li:nth-child(2)::before {
  -webkit-clip-path: polygon(95% 0, 100% 50%, 95% 100%, 0% 100%, 5% 50%, 0% 0%);
          clip-path: polygon(95% 0, 100% 50%, 95% 100%, 0% 100%, 5% 50%, 0% 0%);
}

.instrument-container,
.all-container {
  position: relative;
  min-height: calc(100vh - 118px);
  padding-bottom: 80px;
}

.tab-container li {
  width: 50%;
}
@media (min-width: 576px) {
  .tab-container li {
    width: auto;
  }
}
.tab-container a {
  padding: 0.5rem 0.5rem;
  color: #b8b8b8;
  border: 1px solid #d9d9d9;
  border-bottom: none;
  background-color: #f5f5f5;
  position: relative;
  width: 100%;
  text-align: center;
}
@media (min-width: 576px) {
  .tab-container a {
    width: auto;
    text-align: left;
    padding: 0.5rem 1.5rem;
  }
}
.tab-container a.active {
  background-color: transparent;
  color: #333333;
}
.tab-container a.active::before {
  content: "";
  position: absolute;
  background-color: #DD0000;
  width: 100%;
  height: 4px;
  left: 0;
  bottom: 0;
}
.tab-container a span {
  white-space: nowrap;
}

.my-select {
  position: relative;
  display: flex;
  justify-content: center;
  padding: 10px 0;
  border-left: 1px solid #d9d9d9;
  border-right: 1px solid #d9d9d9;
}
@media (min-width: 576px) {
  .my-select {
    display: block;
    padding: 0;
    border: none;
  }
}
.my-select select {
  display: none;
}
.my-select .select-selected {
  position: relative;
  border-radius: 5px;
  border: 1px solid #d9d9d9;
  color: #626262;
  font-size: 14px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  padding: 4px 8px;
  width: 70%;
}
@media (min-width: 576px) {
  .my-select .select-selected {
    position: static;
    padding: 1px 0px 1px 8px;
    min-width: 120px;
    max-width: 130px;
  }
}
.my-select .select-selected:after {
  position: absolute;
  content: "";
  top: 12px;
  right: 8px;
  width: 0;
  height: 0;
  border: 5px solid transparent;
  border-color: #626262 transparent transparent transparent;
}
.my-select .select-selected.select-arrow-active:after {
  border-color: transparent transparent #626262 transparent;
  top: 7px;
}
.my-select .select-items {
  font-size: 14px;
  position: absolute;
  background-color: #ffffff;
  top: 80%;
  z-index: 1;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.25);
  width: 70%;
  white-space: normal;
  word-break: break-all;
}
@media (min-width: 576px) {
  .my-select .select-items {
    top: 100%;
    left: 0;
    right: 0;
    min-width: 120px;
    max-width: 130px;
  }
}
.my-select .select-hide {
  display: none;
}
.my-select .select-items div {
  width: 100%;
  color: #626262;
  padding: 8px 16px;
  text-align: center;
  position: relative;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}
.my-select .select-items div.same-as-selected::before {
  content: "";
  position: absolute;
  background-color: #DD0000;
  height: 100%;
  width: 3px;
  left: 0;
  top: 0;
}
.my-select .select-items div:hover {
  background-color: rgba(0, 0, 0, 0.1);
}

.right-btns {
  position: fixed;
  z-index: 1;
  bottom: 0;
  right: 0;
  background-color: #ffffff;
  width: 100%;
  justify-content: center;
  box-shadow: 0px -2px 2px 0px rgba(0, 0, 0, 0.25);
  padding: 8px 0;
}
@media (min-width: 576px) {
  .right-btns {
    position: absolute;
    z-index: auto;
    right: 15px;
    top: -4px;
    bottom: auto;
    background-color: transparent;
    width: auto;
    justify-content: flex-start;
    box-shadow: none;
  }
}
.right-btns a,
.right-btns button {
  border: none;
  color: #333333;
  background-color: transparent;
  outline: 1px solid #626262;
  padding: 4px 30px;
  border-radius: 30px;
}
.right-btns span {
  width: 24px;
  height: 24px;
  background-color: #ffffff;
  color: #DD0000;
  border-radius: 50%;
  margin-left: -2px;
}
.right-btns .btnActive {
  color: #ffffff;
  background-color: #DD0000;
  outline: none;
}
.right-btns .swing {
  animation: swingAnimation 1s ease-in-out;
}

@keyframes swingAnimation {
  0% {
    transform: rotate(0deg);
  }
  20% {
    transform: rotate(3deg);
  }
  40% {
    transform: rotate(-3deg);
  }
  60% {
    transform: rotate(3deg);
  }
  80% {
    transform: rotate(-3deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
.table-title {
  background-color: #626262;
  color: #ffffff;
}
.table-title span {
  padding: 8px 4px 8px 0;
}
.table-title span:first-child {
  padding-left: 8px;
}

.accordion-container .item {
  display: block;
  border-top: 1px solid #d9d9d9;
  box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.2);
  padding: 0 10px;
  padding-top: 10px;
}
.accordion-container .item:not(:last-child) {
  margin-bottom: 10px;
}
@media (min-width: 576px) {
  .accordion-container .item:not(:last-child) {
    margin-bottom: 0px;
  }
}
@media (min-width: 576px) {
  .accordion-container .item {
    border: 1px solid #d9d9d9;
    border-top: none;
    width: 100%;
    box-shadow: none;
  }
}
.accordion-container .item .item-btn {
  border-top: 1px solid #d9d9d9;
}
@media (min-width: 576px) {
  .accordion-container .item .item-btn {
    display: flex;
    align-items: center;
    font-size: 14px;
    border: none;
  }
}
@media (min-width: 1200px) {
  .accordion-container .item .item-btn {
    font-size: 16px;
  }
}
.accordion-container .item [data-title=編號],
.accordion-container .item [data-title=圖片],
.accordion-container .item [data-title=主設備序號],
.accordion-container .item [data-title=機型],
.accordion-container .item [data-title=合約日期] {
  display: flex;
  background-color: #626262;
  border-bottom: 1px solid #d9d9d9;
  border-right: 1px solid #d9d9d9;
}
@media (min-width: 576px) {
  .accordion-container .item [data-title=編號],
  .accordion-container .item [data-title=圖片],
  .accordion-container .item [data-title=主設備序號],
  .accordion-container .item [data-title=機型],
  .accordion-container .item [data-title=合約日期] {
    display: table-cell;
    background-color: transparent;
    border: none;
  }
}
.accordion-container .item [data-title=編號]::before,
.accordion-container .item [data-title=圖片]::before,
.accordion-container .item [data-title=主設備序號]::before,
.accordion-container .item [data-title=機型]::before,
.accordion-container .item [data-title=合約日期]::before {
  content: attr(data-title);
  display: inline-block;
  height: 100%;
  background-color: #626262;
  min-width: 30%;
  color: #ffffff;
  padding: 8px 10px;
}
@media (min-width: 576px) {
  .accordion-container .item [data-title=編號]::before,
  .accordion-container .item [data-title=圖片]::before,
  .accordion-container .item [data-title=主設備序號]::before,
  .accordion-container .item [data-title=機型]::before,
  .accordion-container .item [data-title=合約日期]::before {
    display: none;
  }
}
.accordion-container .item [data-title=編號] > span, .accordion-container .item [data-title=編號] > div,
.accordion-container .item [data-title=圖片] > span,
.accordion-container .item [data-title=圖片] > div,
.accordion-container .item [data-title=主設備序號] > span,
.accordion-container .item [data-title=主設備序號] > div,
.accordion-container .item [data-title=機型] > span,
.accordion-container .item [data-title=機型] > div,
.accordion-container .item [data-title=合約日期] > span,
.accordion-container .item [data-title=合約日期] > div {
  padding: 8px 6px 8px 6px;
  background-color: #ffffff;
  word-break: break-all;
  min-width: 70%;
}
@media (min-width: 576px) {
  .accordion-container .item [data-title=編號] > span, .accordion-container .item [data-title=編號] > div,
  .accordion-container .item [data-title=圖片] > span,
  .accordion-container .item [data-title=圖片] > div,
  .accordion-container .item [data-title=主設備序號] > span,
  .accordion-container .item [data-title=主設備序號] > div,
  .accordion-container .item [data-title=機型] > span,
  .accordion-container .item [data-title=機型] > div,
  .accordion-container .item [data-title=合約日期] > span,
  .accordion-container .item [data-title=合約日期] > div {
    min-width: auto;
    padding: 8px 4px 8px 0;
  }
}
@media (min-width: 576px) {
  .accordion-container .item [data-title=編號] {
    width: 8%;
    padding-left: 8px;
  }
}
@media (min-width: 576px) {
  .accordion-container .item [data-title=圖片] {
    width: 12%;
  }
}
@media (min-width: 576px) {
  .accordion-container .item [data-title=主設備序號] {
    width: 17%;
  }
}
@media (min-width: 576px) {
  .accordion-container .item [data-title=機型] {
    width: 20%;
  }
}
@media (min-width: 576px) {
  .accordion-container .item [data-title=合約日期] {
    width: 30%;
  }
}
.accordion-container .item [data-title=合約日期] .expire-hint {
  color: #ffffff;
  background-color: #DD0000;
  font-size: 10px;
  border-radius: 60px;
  padding: 2px 6px;
}
@media (min-width: 576px) {
  .accordion-container .item [data-title=合約日期] .expire-hint {
    font-size: 12px;
  }
}
.accordion-container .accordion-switch {
  width: 100%;
  border: none;
  background-color: transparent;
  color: #626262 !important;
  padding: 8px 0;
}
.accordion-container .accordion-switch:not(.collapsed) i {
  transform: scaleY(-1);
}
@media (min-width: 576px) {
  .accordion-container .accordion-switch {
    padding-top: 0px;
    padding-bottom: 0px;
    padding-right: 8px;
    width: 5%;
    text-align: right;
  }
}
.accordion-container .accordion-switch i {
  font-size: 14px;
}
@media (min-width: 576px) {
  .accordion-container .accordion-switch i {
    font-size: 16px;
  }
}

.ask-btn {
  border: 1px solid #333333;
  background-color: transparent;
  border-radius: 60px;
  font-size: 14px;
  white-space: nowrap;
  padding: 4px 8px;
}
@media (min-width: 576px) {
  .ask-btn {
    font-size: 12px;
    padding: 2px 6px;
  }
}

.mb-ask {
  position: relative;
}
.mb-ask .ask-btn {
  position: absolute;
  top: 15px;
  right: 15px;
}

.item-content {
  row-gap: 12px;
  padding: 8px 0px;
}
@media (min-width: 576px) {
  .item-content {
    padding-left: 8px;
    padding-right: 5%;
  }
}
.item-content > div {
  width: 50%;
}
@media (min-width: 576px) {
  .item-content > div {
    padding: 0 6px;
  }
}
@media (min-width: 768px) {
  .item-content > div {
    width: 25%;
  }
}
.item-content > div:nth-child(odd) {
  padding-right: 12px;
}
@media (min-width: 576px) {
  .item-content > div:nth-child(odd) {
    padding-right: 6px;
  }
}
.item-content a {
  cursor: pointer;
  color: #626262;
  border-radius: 5px;
  background-color: rgb(255, 255, 255);
  border: 1px solid #d9d9d9;
  height: 100%;
  position: relative;
  padding: 20px 0px;
}
.item-content a::before {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  border: 8px solid;
  top: -8px;
  left: -8px;
  border-color: transparent transparent transparent #000000;
  transform: rotate(225deg);
}
.item-content a::after {
  content: "";
  position: absolute;
  border-radius: 0 0 5px 5px;
  width: 100%;
  height: 4px;
  background-color: #000000;
  bottom: 0;
  left: 0;
}
.item-content a:hover::before {
  border-color: transparent transparent transparent #DD0000;
  transition: all 0.3s ease-in-out;
}
.item-content a:hover::after {
  background-color: #DD0000;
  transition: all 0.3s ease-in-out;
}
.item-content h3 {
  font-size: 14px;
}
@media (min-width: 992px) {
  .item-content h3 {
    font-size: 16px;
  }
}
.item-content span {
  font-size: 22px;
}

.modal .productInfo {
  border-radius: 5px;
  border: 1px solid #d9d9d9;
  padding: 10px 8px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media screen and (min-width: 376px) {
  .modal .productInfo {
    flex-direction: row;
  }
}
.modal .productInfo .date > span {
  flex-shrink: 0;
}
.modal .productInfo .date div span:first-child {
  color: #DD0000;
}
.modal .productInfo .date div span:last-child {
  color: #ffffff;
  background-color: #DD0000;
  border-radius: 60px;
  padding: 2px 6px;
}
.modal .productInfo .img-container {
  width: 100%;
}
@media screen and (min-width: 376px) {
  .modal .productInfo .img-container {
    margin-right: 16px;
    width: 25%;
  }
}
@media (min-width: 576px) {
  .modal .productInfo .img-container {
    width: 20%;
  }
}
@media (min-width: 1200px) {
  .modal .productInfo .img-container {
    width: 10%;
  }
}
.modal h5 {
  color: #333333;
  font-size: 20px;
  margin-bottom: 4px;
}
@media (min-width: 768px) {
  .modal h5 {
    font-size: 24px;
  }
}
.modal .tab-carousel::after {
  content: "";
  position: absolute;
  background-image: linear-gradient(to right, rgba(255, 255, 255, 0), rgb(255, 255, 255));
  width: 48px;
  height: 48px;
  top: 0;
  right: 0;
}
.modal .tab-carousel .owl-stage-outer {
  padding: 6px 2px 10px 2px;
}
.modal .tab-carousel .owl-nav {
  font-size: 10px;
  height: 0;
}
.modal .tab-carousel .owl-nav [class*=owl-]:focus {
  outline: none;
}
.modal .tab-carousel .owl-nav button.owl-prev {
  left: 0px;
}
.modal .tab-carousel .owl-nav button.owl-next {
  right: 0px;
  border-radius: 50%;
  border: 1px solid #d9d9d9;
  width: 20px;
  height: 20px;
  line-height: 20px;
  background-color: #ffffff !important;
  z-index: 1;
  position: absolute;
  top: 12px;
  margin: 0px;
}
.modal .tab-carousel .owl-nav button.owl-next:hover {
  color: #626262;
}
.modal .tab-carousel a {
  padding: 4px 8px;
  border-radius: 5px;
  outline: 1px solid #626262;
  color: #626262;
}
.modal .tab-carousel a.active, .modal .tab-carousel a.hover {
  background-color: #DD0000;
  color: #ffffff;
  outline: none;
}
.modal .modal-content {
  box-shadow: 0px 0px 14px 0px rgba(0, 0, 0, 0.25);
  border: none;
}
.modal .modal-header {
  border-bottom: none;
}
.modal table {
  margin: 0;
  padding: 0;
  table-layout: fixed;
  max-height: 500px;
  overflow-y: scroll;
}
.modal table thead {
  display: none;
  background-color: #626262;
  color: #ffffff;
}
.modal table thead th {
  padding: 8px 4px;
  font-weight: 500;
}
.modal table thead th:first-child {
  padding-left: 8px;
}
@media (min-width: 992px) {
  .modal table thead {
    display: table-header-group;
  }
}
.modal table tr {
  display: block;
  margin-bottom: 1em;
  border: 1px solid #d9d9d9;
}
@media (min-width: 992px) {
  .modal table tr {
    display: table-row;
    border: none;
  }
}
@media (min-width: 992px) {
  .modal table tbody tr {
    border: 1px solid #d9d9d9;
  }
}
.modal table tbody td {
  display: flex;
  background-color: #626262;
  padding: 0;
  border-bottom: 1px solid #d9d9d9;
}
@media (min-width: 992px) {
  .modal table tbody td {
    display: table-cell;
    background-color: transparent;
    border: none;
  }
}
.modal table tbody td::before {
  content: attr(data-title);
  display: inline-block;
  width: 30%;
  max-width: 30%;
  background-color: #626262;
  color: #ffffff;
  padding: 8px 10px;
  word-wrap: break-word;
  flex-shrink: 0;
}
@media (min-width: 992px) {
  .modal table tbody td::before {
    display: none;
  }
}
.modal table tbody td > span {
  padding: 8px 10px;
  background-color: #ffffff;
  word-break: break-all;
  min-width: 70%;
}
@media (min-width: 992px) {
  .modal table tbody td > span {
    min-width: auto;
    padding: 8px 4px;
  }
}
@media (min-width: 992px) {
  .modal table tbody td:first-child {
    padding-left: 8px;
  }
}
.modal table tbody td:last-child {
  border: none;
}
.modal .modal-footer {
  border-top: none;
}
.modal .modal-footer button {
  background-color: #333333;
  color: #ffffff;
  border-radius: 5px;
  transition: all 0.3s ease-in-out;
}
.modal .modal-footer button:focus {
  box-shadow: none;
}
.modal .modal-footer button:hover {
  outline: 1px solid #333333;
  background-color: transparent;
  color: #333333;
  transition: all 0.3s ease-in-out;
}

#historyModal .contentDetailBtn {
  border: none;
  background-color: transparent;
  padding: 0;
  color: #626262;
  text-decoration: underline;
}

.contentDetailModal .modal-header {
  border-bottom: 1px solid #d9d9d9;
}
.contentDetailModal .modal-content {
  box-shadow: none;
  border: 1px solid #d9d9d9;
}

.inquiry-main {
  min-height: calc(100vh - 118px);
  padding-bottom: 40px;
}
.inquiry-main .title {
  border-bottom: 1px solid #DD0000;
}
.inquiry-main h3 {
  font-size: 20px;
}
@media (min-width: 768px) {
  .inquiry-main h3 {
    font-size: 24px;
  }
}
.inquiry-main .select-btn {
  color: #ffffff;
  background-color: #DD0000;
  border-radius: 40px;
  font-size: 14px;
  padding: 6px 12px;
}
.inquiry-main .select-btn:hover {
  outline: 1px solid #DD0000;
  background-color: transparent;
  color: #DD0000;
}
@media (min-width: 768px) {
  .inquiry-main .select-btn {
    font-size: 16px;
  }
}
.inquiry-main table {
  margin: 0;
  padding: 0;
  table-layout: fixed;
}
.inquiry-main table thead {
  display: none;
  background-color: #626262;
  color: #ffffff;
}
.inquiry-main table thead th {
  padding: 8px 4px;
  font-weight: 500;
}
.inquiry-main table thead th:first-child {
  padding-left: 8px;
}
@media (min-width: 576px) {
  .inquiry-main table thead {
    display: table-header-group;
  }
}
.inquiry-main table tr {
  display: block;
  margin-bottom: 1em;
  border: 1px solid #d9d9d9;
}
@media (min-width: 576px) {
  .inquiry-main table tr {
    display: table-row;
    border: none;
  }
}
@media (min-width: 576px) {
  .inquiry-main table tbody tr {
    border: 1px solid #d9d9d9;
  }
}
.inquiry-main table tbody td {
  display: flex;
  background-color: #626262;
  padding: 0;
  border-bottom: 1px solid #d9d9d9;
}
@media (min-width: 576px) {
  .inquiry-main table tbody td {
    display: table-cell;
    background-color: transparent;
    border: none;
  }
}
.inquiry-main table tbody td::before {
  content: attr(data-title);
  display: inline-block;
  width: 30%;
  max-width: 30%;
  background-color: #626262;
  color: #ffffff;
  word-wrap: break-word;
  flex-shrink: 0;
  padding: 8px 10px;
}
@media (min-width: 576px) {
  .inquiry-main table tbody td::before {
    display: none;
  }
}
.inquiry-main table tbody td > span {
  padding: 8px 10px;
  background-color: #ffffff;
  word-break: break-all;
  min-width: 70%;
}
@media (min-width: 576px) {
  .inquiry-main table tbody td > span {
    min-width: auto;
    padding: 8px 4px;
  }
}
@media (min-width: 576px) {
  .inquiry-main table tbody td:first-child {
    padding-left: 8px;
  }
}
.inquiry-main table tbody td:last-child {
  border: none;
}
.inquiry-main table .delete-btn {
  font-size: 20px;
  background-color: transparent;
  border: none;
  color: #626262 !important;
}
.inquiry-main table .delete-btn:hover {
  color: #DD0000;
}
@media (min-width: 576px) {
  .inquiry-main input.number {
    width: 75%;
  }
}
.inquiry-main input.number:focus-visible {
  outline-color: #DD0000;
}

.message .message-title {
  background-color: #626262;
  color: #ffffff;
  font-weight: 500;
  padding: 8px 8px;
}
@media (min-width: 576px) {
  .message .message-title {
    padding: 8px 16px;
  }
}
.message .item {
  border: 1px solid #d9d9d9;
}
.message .item div {
  padding: 8px 8px;
}
@media (min-width: 576px) {
  .message .item div {
    padding: 8px 16px;
  }
}
.message .item > div:first-child {
  background-color: #f5f5f5;
}
@media (min-width: 576px) {
  .message .item > div:first-child {
    width: 20%;
  }
}
.message .item textarea {
  border: 1px solid #d9d9d9;
}
.message .item textarea:focus-visible {
  outline-color: #DD0000;
}
.message .item .attachment {
  width: 100%;
  font-size: 13px;
}
@media (min-width: 375px) {
  .message .item .attachment {
    font-size: 14px;
  }
}
@media (min-width: 576px) {
  .message .item .attachment {
    font-size: 16px;
    width: 80%;
  }
}
@media (min-width: 768px) {
  .message .item .attachment {
    width: 70%;
  }
}
.message .item .attachment label {
  cursor: pointer;
  width: 25%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 6px 0px;
  color: #ffffff;
  background-color: #626262;
}
@media (min-width: 576px) {
  .message .item .attachment label {
    padding: 6px 16px;
  }
}
@media (min-width: 768px) {
  .message .item .attachment label {
    width: 20%;
  }
}
.message .item .attachment label .select {
  flex-shrink: 0;
}
.message .item .attachment > div {
  border: 1px solid #d9d9d9;
  width: 75%;
}
@media (min-width: 768px) {
  .message .item .attachment > div {
    width: 80%;
  }
}
.message .item .attachment button {
  border: none;
  background-color: transparent;
  color: #626262 !important;
}

.message-send-btn {
  color: #ffffff;
  background-color: #333333;
  border: none;
  width: 100%;
  border-radius: 5px;
  transition: all 0.3s ease-in-out;
  padding: 8px 0;
  transition: all 0.3s ease-in-out;
}
.message-send-btn:hover {
  outline: 1px solid #333333;
  background-color: transparent;
  color: #333333;
  transition: all 0.3s ease-in-out;
}

.options {
  -moz-column-gap: 4%;
       column-gap: 4%;
}
.options .item {
  position: relative;
  width: 48%;
}
@media (min-width: 576px) {
  .options .item {
    width: 22%;
  }
}
.options .item input[type=radio] {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}
.options .item input[type=radio]:checked + label {
  background-color: #DD0000;
  border: none;
  color: #ffffff;
}
.options .item input[type=radio]:checked + label .checkmark {
  background-color: #ffffff;
  border: none;
}
.options .item input[type=radio]:checked + label .checkmark:after {
  display: block;
}
.options .item label {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 0;
  padding: 10px 8px;
  border: 1px solid #626262;
  border-radius: 60px;
  cursor: pointer;
}
.options .item .checkmark {
  height: 15px;
  width: 15px;
  margin-right: 8px;
  border: 1px solid #626262;
  position: relative;
}
.options .item .checkmark::after {
  content: "";
  position: absolute;
  display: none;
  left: 5px;
  top: 2px;
  width: 6px;
  height: 9px;
  border: solid #DD0000;
  border-width: 0 3px 3px 0;
  transform: rotate(45deg);
}

.lightbox {
  display: flex;
  flex-direction: column;
}

.lb-dataContainer {
  order: 1;
  margin-bottom: 8px;
}

.lb-outerContainer {
  order: 2;
}

.right-btn {
  position: fixed;
  z-index: 2;
  bottom: 0;
  right: 0;
  background-color: #ffffff;
  width: 100%;
  text-align: center;
  box-shadow: 0px -2px 2px 0px rgba(0, 0, 0, 0.25);
  padding: 8px 0;
}
@media (min-width: 576px) {
  .right-btn {
    position: absolute;
    z-index: auto;
    right: 15px;
    top: -4px;
    bottom: auto;
    background-color: transparent;
    width: auto;
    box-shadow: none;
  }
}
.right-btn a {
  border: none;
  color: #333333;
  background-color: transparent;
  outline: 1px solid #626262;
  padding: 4px 30px;
  border-radius: 30px;
}
.right-btn a span {
  width: 24px;
  height: 24px;
  background-color: #ffffff;
  color: #DD0000;
  border-radius: 50%;
  margin-left: -2px;
}
.right-btn .btnActive {
  color: #ffffff;
  background-color: #DD0000;
  outline: none;
}
.right-btn .swing {
  animation: swingAnimation 1s ease-in-out;
}

button.common-material {
  border: 1px solid #d9d9d9;
  color: #626262;
  background-color: #f5f5f5;
  border-radius: 5px;
  text-align: right;
  padding: 4px 8px;
}
@media (min-width: 576px) {
  button.common-material {
    width: 95%;
    text-align: center;
    font-size: 20px;
  }
}
button.common-material span {
  vertical-align: text-top;
}
@media (min-width: 576px) {
  button.common-material span {
    margin-top: 0.2rem;
  }
}

.item-container .item {
  box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.2);
  padding: 10px 10px;
}
.item-container .item:not(:last-child) {
  margin-bottom: 10px;
}
@media (min-width: 576px) {
  .item-container .item:not(:last-child) {
    margin-bottom: 0px;
  }
}
@media (min-width: 576px) {
  .item-container .item {
    display: flex;
    align-items: center;
    font-size: 14px;
    border: 1px solid #d9d9d9;
    border-top: none;
    padding: 6px 8px;
    box-shadow: none;
  }
}
@media (min-width: 1200px) {
  .item-container .item {
    font-size: 16px;
  }
}
.item-container [data-title=編號],
.item-container [data-title=圖片],
.item-container [data-title=機型] {
  display: flex;
  background-color: #626262;
  border: 1px solid #d9d9d9;
}
@media (min-width: 576px) {
  .item-container [data-title=編號],
  .item-container [data-title=圖片],
  .item-container [data-title=機型] {
    display: table-cell;
    background-color: transparent;
    border: none;
  }
}
.item-container [data-title=編號]::before,
.item-container [data-title=圖片]::before,
.item-container [data-title=機型]::before {
  content: attr(data-title);
  display: inline-block;
  height: 100%;
  background-color: #626262;
  min-width: 30%;
  color: #ffffff;
  padding: 8px 4px;
}
@media (min-width: 576px) {
  .item-container [data-title=編號]::before,
  .item-container [data-title=圖片]::before,
  .item-container [data-title=機型]::before {
    display: none;
  }
}
.item-container [data-title=編號] > span, .item-container [data-title=編號] > div,
.item-container [data-title=圖片] > span,
.item-container [data-title=圖片] > div,
.item-container [data-title=機型] > span,
.item-container [data-title=機型] > div {
  padding: 8px 4px;
  background-color: #ffffff;
  word-break: break-all;
  min-width: 70%;
}
@media (min-width: 576px) {
  .item-container [data-title=編號] > span, .item-container [data-title=編號] > div,
  .item-container [data-title=圖片] > span,
  .item-container [data-title=圖片] > div,
  .item-container [data-title=機型] > span,
  .item-container [data-title=機型] > div {
    min-width: auto;
  }
}
@media (min-width: 576px) {
  .item-container [data-title=編號] {
    width: 8%;
  }
}
@media (min-width: 576px) {
  .item-container [data-title=圖片] {
    width: 12%;
  }
}
.item-container [data-title=機型] {
  border-top: none;
}
@media (min-width: 576px) {
  .item-container [data-title=機型] {
    width: 25%;
  }
}
.item-container a.material-list {
  color: #626262;
  border-radius: 5px;
  background-color: rgb(255, 255, 255);
  border: 1px solid #d9d9d9;
  position: relative;
  margin: 8px auto;
  margin-bottom: 0;
  padding: 12px 16px;
  width: 90%;
}
@media (min-width: 576px) {
  .item-container a.material-list {
    width: auto;
    margin: 0;
    padding: 6px 16px;
  }
}
.item-container a.material-list::before {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  border: 8px solid;
  top: -8px;
  left: -8px;
  border-color: transparent transparent transparent #000000;
  transform: rotate(225deg);
  transition: all 0.3s ease-in-out;
}
.item-container a.material-list::after {
  content: "";
  position: absolute;
  border-radius: 0 0 5px 5px;
  width: 100%;
  height: 4px;
  background-color: #000000;
  bottom: 0;
  left: 0;
  transition: all 0.3s ease-in-out;
}
.item-container a.material-list:hover {
  cursor: pointer;
}
.item-container a.material-list:hover::before {
  border-color: transparent transparent transparent #DD0000;
  transition: all 0.3s ease-in-out;
}
.item-container a.material-list:hover::after {
  background-color: #DD0000;
  transition: all 0.3s ease-in-out;
}
.item-container a.material-list span {
  font-size: 18px;
}
@media (min-width: 576px) {
  .item-container a.material-list span {
    font-size: 20px;
  }
}
.item-container a.material-list span:last-child {
  font-size: 14px;
}
@media (min-width: 992px) {
  .item-container a.material-list span:last-child {
    font-size: 16px;
  }
}
.item-container .ask-btn {
  border: 1px solid #333333;
  background-color: transparent;
  border-radius: 60px;
  font-size: 14px;
  color: #626262 !important;
  padding: 4px 8px;
}
.item-container .mb-ask {
  position: relative;
}
.item-container .mb-ask .ask-btn {
  position: absolute;
  top: 15px;
  right: 15px;
}

.pagination {
  justify-content: flex-end;
}
.pagination button {
  background-color: transparent;
  border: none;
  color: #626262 !important;
}

#addToListModal, #saveSuccessModal, #sendModal, #submitModal, #sendEmailModal, #removeItemModal {
  font-size: 16px;
}
#addToListModal .modal-content, #saveSuccessModal .modal-content, #sendModal .modal-content, #submitModal .modal-content, #sendEmailModal .modal-content, #removeItemModal .modal-content {
  box-shadow: 0px 0px 14px 0px rgba(0, 0, 0, 0.25);
  border: none;
}
#addToListModal .modal-body .add-icon, #addToListModal .modal-body .remove-icon, #saveSuccessModal .modal-body .add-icon, #saveSuccessModal .modal-body .remove-icon, #sendModal .modal-body .add-icon, #sendModal .modal-body .remove-icon, #submitModal .modal-body .add-icon, #submitModal .modal-body .remove-icon, #sendEmailModal .modal-body .add-icon, #sendEmailModal .modal-body .remove-icon, #removeItemModal .modal-body .add-icon, #removeItemModal .modal-body .remove-icon {
  font-size: 48px;
  color: #d9d9d9;
}
#addToListModal .modal-footer, #saveSuccessModal .modal-footer, #sendModal .modal-footer, #submitModal .modal-footer, #sendEmailModal .modal-footer, #removeItemModal .modal-footer {
  border-top: none;
  justify-content: center;
}
#addToListModal .modal-footer button, #saveSuccessModal .modal-footer button, #sendModal .modal-footer button, #submitModal .modal-footer button, #sendEmailModal .modal-footer button, #removeItemModal .modal-footer button {
  border-radius: 5px;
  width: 100%;
  background-color: #333333;
  color: #ffffff;
  transition: all 0.3s ease-in-out;
}
#addToListModal .modal-footer button:hover, #addToListModal .modal-footer button:focus, #saveSuccessModal .modal-footer button:hover, #saveSuccessModal .modal-footer button:focus, #sendModal .modal-footer button:hover, #sendModal .modal-footer button:focus, #submitModal .modal-footer button:hover, #submitModal .modal-footer button:focus, #sendEmailModal .modal-footer button:hover, #sendEmailModal .modal-footer button:focus, #removeItemModal .modal-footer button:hover, #removeItemModal .modal-footer button:focus {
  outline: 1px solid #333333;
  background-color: transparent;
  color: #333333;
  transition: all 0.3s ease-in-out;
}

#removeItemModal .modal-header {
  padding-bottom: 0;
}
#removeItemModal .modal-body {
  padding-top: 0;
  margin-top: -10px;
}

.account-container {
  min-height: calc(100vh - 135px);
  padding-bottom: 80px;
}
.account-container .row {
  row-gap: 10px;
}
.account-container .row [class~=col-6]:first-child {
  padding-right: 5px;
}
.account-container .row [class~=col-6]:last-child {
  padding-left: 5px;
}
.account-container .form-control:focus {
  border-color: rgba(110, 110, 110, 0.5);
  box-shadow: 0 0 0 0.2rem rgba(110, 110, 110, 0.5);
}
.account-container .title {
  border-bottom: 1px solid #DD0000;
}
.account-container .title .pending {
  font-size: 14px;
  color: #ffffff;
  background-color: #af282f;
  padding: 7px 8px;
  border-radius: 5px;
}
.account-container h3 {
  font-size: 20px;
}
@media (min-width: 768px) {
  .account-container h3 {
    font-size: 24px;
  }
}
.account-container .changePassword span {
  color: #af282f;
}
.account-container .changePassword-btn {
  background-color: #333333;
  color: #ffffff;
  border: none;
  border-radius: 5px;
  padding: 7px 16px;
  transition: all 0.3s ease-in-out;
}
.account-container .changePassword-btn:hover {
  outline: 1px solid #333333;
  background-color: transparent;
  color: #333333;
  transition: all 0.3s ease-in-out;
}
.account-container .editInfo button {
  background-color: #333333;
  color: #ffffff;
  border: none;
  border-radius: 5px;
  padding: 7px 16px;
  width: 100%;
  transition: all 0.3s ease-in-out;
}
.account-container .editInfo button:hover, .account-container .editInfo button:focus {
  outline: 1px solid #333333;
  background-color: transparent;
  color: #333333;
  transition: all 0.3s ease-in-out;
}

#changePasswordModal, #forgetPasswordModal {
  font-size: 16px;
}
#changePasswordModal .modal-content, #forgetPasswordModal .modal-content {
  box-shadow: 0px 0px 14px 0px rgba(0, 0, 0, 0.25);
  border: none;
}
#changePasswordModal .modal-header, #forgetPasswordModal .modal-header {
  justify-content: flex-end;
  border-bottom: none;
}
#changePasswordModal .modal-header h5, #forgetPasswordModal .modal-header h5 {
  margin: auto;
}
#changePasswordModal .modal-header .close, #forgetPasswordModal .modal-header .close {
  padding: 0;
  margin: 0;
}
#changePasswordModal .form-group span, #forgetPasswordModal .form-group span {
  display: block;
}
#changePasswordModal .form-control:focus, #forgetPasswordModal .form-control:focus {
  border-color: rgba(110, 110, 110, 0.5);
  box-shadow: 0 0 0 0.2rem rgba(110, 110, 110, 0.5);
}
#changePasswordModal .passwordInput, #forgetPasswordModal .passwordInput {
  position: relative;
}
#changePasswordModal .passwordInput button, #forgetPasswordModal .passwordInput button {
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  border: none;
  background-color: transparent;
}
#changePasswordModal .passwordInput .eye-icon, #forgetPasswordModal .passwordInput .eye-icon {
  color: #d9d9d9;
  font-size: 18px;
}
#changePasswordModal .modal-footer, #forgetPasswordModal .modal-footer {
  border-top: none;
  justify-content: center;
}
#changePasswordModal .modal-footer button, #forgetPasswordModal .modal-footer button {
  border-radius: 5px;
  width: 100%;
  background-color: #333333;
  color: #ffffff;
  transition: all 0.3s ease-in-out;
}
#changePasswordModal .modal-footer button:hover, #forgetPasswordModal .modal-footer button:hover {
  outline: 1px solid #333333;
  background-color: transparent;
  color: #333333;
  transition: all 0.3s ease-in-out;
}
#changePasswordModal .modal-footer a, #forgetPasswordModal .modal-footer a {
  color: #1371b9;
}

.signup-page {
  min-height: calc(100vh - 135px);
  padding-bottom: 48px;
}

.signup-container {
  outline: 1px solid #d9d9d9;
}
.signup-container .tab li {
  width: 50%;
}
.signup-container .tab li:first-child a {
  border-right: 1px solid #d9d9d9;
  border-bottom: 1px solid #d9d9d9;
}
.signup-container .tab li:last-child a {
  border-left: 1px solid #d9d9d9;
}
.signup-container .tab a {
  padding: 0.5rem 0.5rem;
  color: #b8b8b8;
  background-color: #f5f5f5;
  border-bottom: 1px solid #d9d9d9;
  width: 100%;
  text-align: center;
}
.signup-container .tab a.active {
  background-color: #ffffff;
  color: #333333;
  border: none !important;
}
@media (min-width: 576px) {
  .signup-container .tab a {
    padding: 0.5rem 1.5rem;
  }
}
.signup-container .content {
  padding: 20px 10%;
}
.signup-container .content > span {
  display: block;
}
.signup-container .content a {
  color: #1371b9;
  text-decoration: underline;
}
.signup-container .content .form-control:focus {
  border-color: rgba(110, 110, 110, 0.5);
  box-shadow: 0 0 0 0.2rem rgba(110, 110, 110, 0.5);
}
.signup-container .content form span {
  display: block;
}
.signup-container .content form .invalid-feedback {
  display: block;
}
.signup-container .form-btns button {
  width: 50%;
  border-radius: 5px;
  padding: 6px 0;
  border: none;
  transition: all 0.3s ease-in-out;
}
.signup-container .form-btns button:first-child {
  color: #b8b8b8;
  background-color: #f5f5f5;
  margin-right: 8px;
}
.signup-container .form-btns button:first-child:hover {
  outline: 1px solid #A4A4A4;
  transition: all 0.3s ease-in-out;
}
.signup-container .form-btns button:last-child {
  color: #ffffff;
  background-color: #333333;
}
.signup-container .form-btns button:last-child:hover {
  outline: 1px solid #A4A4A4;
  color: #626262;
  background-color: transparent;
  transition: all 0.3s ease-in-out;
}
.signup-container .loginBtn {
  border-radius: 5px;
  padding: 6px 0;
  border: none;
  background-color: #333333;
  width: 100%;
  color: #ffffff;
  transition: all 0.3s ease-in-out;
}
.signup-container .loginBtn:hover {
  outline: 1px solid #333333;
  color: #626262;
  background-color: transparent;
  transition: all 0.3s ease-in-out;
}
.signup-container .forgetBtn {
  border: none;
  background-color: transparent;
  color: #1371b9;
  display: block;
}
.signup-container .qrCode {
  color: #7d7d7d;
}
.signup-container .qrCode i {
  font-size: 32px;
}
.signup-container .loginOption {
  position: relative;
}
.signup-container .loginOption::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 1px;
  background-color: #A4A4A4;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: -1;
}
.signup-container .loginOption p {
  padding: 0 10px;
  background-color: #ffffff;
  width: 50%;
}

#forgetPasswordModal span {
  display: block;
}

.breadcrumb-list.selectedPage li a {
  padding: 5px 0 0 0;
}
.breadcrumb-list.selectedPage li:first-child {
  -webkit-clip-path: polygon(0% 0%, 95% 0%, 100% 50%, 95% 100%, 0% 100%);
          clip-path: polygon(0% 0%, 95% 0%, 100% 50%, 95% 100%, 0% 100%);
}
.breadcrumb-list.selectedPage li:first-child::before {
  -webkit-clip-path: polygon(0% 0%, 95% 0%, 100% 50%, 95% 100%, 0% 100%);
          clip-path: polygon(0% 0%, 95% 0%, 100% 50%, 95% 100%, 0% 100%);
}
.breadcrumb-list.selectedPage li:nth-child(2),
.breadcrumb-list.selectedPage li:nth-child(3) {
  -webkit-clip-path: polygon(95% 0, 100% 50%, 95% 100%, 0% 100%, 5% 50%, 0% 0%);
          clip-path: polygon(95% 0, 100% 50%, 95% 100%, 0% 100%, 5% 50%, 0% 0%);
}
.breadcrumb-list.selectedPage li:nth-child(2)::before,
.breadcrumb-list.selectedPage li:nth-child(3)::before {
  -webkit-clip-path: polygon(95% 0, 100% 50%, 95% 100%, 0% 100%, 5% 50%, 0% 0%);
          clip-path: polygon(95% 0, 100% 50%, 95% 100%, 0% 100%, 5% 50%, 0% 0%);
}
.breadcrumb-list.selectedPage li:nth-child(3) a {
  width: 80%;
}

.selectedItem-container {
  min-height: calc(100vh - 135px);
  padding-bottom: 80px;
}
.selectedItem-container .productInfo {
  border-radius: 5px;
  border: 1px solid #d9d9d9;
  padding: 10px 8px;
}
@media (min-width: 576px) {
  .selectedItem-container .productInfo {
    border-radius: 0px;
    border: none;
    border-bottom: 1px solid #DD0000;
    padding: 0px 0px;
    padding-bottom: 16px;
  }
}
.selectedItem-container .productInfo .date > span {
  flex-shrink: 0;
}
.selectedItem-container .productInfo .date div span:first-child {
  color: #DD0000;
}
.selectedItem-container .productInfo .date div span:last-child {
  color: #ffffff;
  background-color: #DD0000;
  border-radius: 60px;
  padding: 2px 6px;
}
@media (min-width: 576px) {
  .selectedItem-container .productInfo .img-container {
    width: 20%;
  }
}
.selectedItem-container .productInfo h3 {
  font-size: 20px;
}
@media (min-width: 768px) {
  .selectedItem-container .productInfo h3 {
    font-size: 24px;
  }
}
.selectedItem-container .item-content {
  -moz-column-gap: 12px;
       column-gap: 12px;
  padding-left: 0;
  padding-right: 0;
}
.selectedItem-container .item-content > div {
  width: calc((100% - 12px) / 2);
  padding-right: 0 !important;
}
@media (min-width: 576px) {
  .selectedItem-container .item-content > div {
    padding: 0;
  }
}
@media (min-width: 768px) {
  .selectedItem-container .item-content > div {
    width: calc((100% - 36px) / 4);
  }
}
.selectedItem-container .item-content > div:nth-child(odd) {
  padding: 0;
}
@media (min-width: 576px) {
  .selectedItem-container .item-content > div:nth-child(odd) {
    padding: 0;
  }
}
.selectedItem-container .item-content span {
  font-size: 36px;
}/*# sourceMappingURL=all.css.map */