.nav-container {
    @include large {
        background-color: $white;
        position: fixed;
        width: 100%;
        top: 0;
        left: 0;
        z-index: 2;
    }
    nav {
        background-color: $white;
        position: fixed;
        width: 100%;
        top: 0;
        left: 0%;
        z-index: 2;
        @include large {
            position: static;
        }
    }
    h2 a {
        color: #af282f;
        span {
            color: #000000;
        }
    }
    .brand-name {
        h1 {
            font-size: 2rem;
        }
        .logo {
            text-indent: 101%;
            overflow: hidden;
            white-space: nowrap;
            background-repeat: no-repeat;
            background-size: cover;
            //padding-bottom:11%;
            width: 120%;
        }
    }

    .navbar-toggler {
        font-size: 1.5rem;
        padding: 0;
    }
    // .mb-brand {
    //     background-color: $white;
    //     position: fixed;
    //     width: 100%;
    //     top: 12px;
    //     left: 0;
    //     box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.25);
    //     z-index: 1;
    // }
    .navbar-collapse.show {
        height: calc(100vh - 48px);
        background-color: $white;
    }

    .mobile-menu {
        flex-grow: 0;
        a {
            transition: all ease-in-out 0.3s;
            &:hover {
                color: $main;
                transition: all ease-in-out 0.3s;
            }
        }
        .active {
            color: $main;
            transition: all ease-in-out 0.3s;
        }
    }
}

.banner-container {
    padding-top: 70px;
    a{
        background-repeat:no-repeat;
        background-size:cover;
        padding-bottom:50%;
        background-position:center;
        width:100%;
        @include small{
            padding-bottom:30%;
        }
    }
    .owl-carousel{
        z-index:0;
    }
    .owl-dots {
        position: relative;
        // z-index: 1;
        top: -38px;
        span {
            width: 8px !important;
            height: 8px !important;
            margin: 5px !important;
        }
        .owl-dot.active span {
            background-color: $main !important;
        }
    }
}

.service-container {
    @include padding(40px, 15px);
    min-height: calc(100vh - 260px);
    .row {
        row-gap: 24px;
    }
    div[class ~= "col-6"]:nth-child(odd){
        padding-right:7.5px;
        @include medium{
            padding-right:15px
        }
    }
    div[class ~= "col-6"]:nth-child(even){
        padding-left:7.5px;
        @include medium{
            padding-left:15px
        }
    }
    .item {
        box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
        border-radius: 5px;
        background-color: rgba(255, 255, 255, 1);
        position: relative;
        transition: all 0.3s ease-in-out;
        @include padding(40px, 0);
        &::before {
            content: "";
            position: absolute;
            width: 0;
            height: 0;
            border: 8px solid;
            top: -8px;
            left: -8px;
            border-color: transparent transparent transparent #000000;
            transform: rotate(225deg);
            transition: all 0.3s ease-in-out;
        }
        &::after {
            content: "";
            position: absolute;
            border-radius: 0 0 5px 5px;
            width: 100%;
            height: 4px;
            background-color: #000000;
            bottom: 0;
            left: 0;
            transition: all 0.3s ease-in-out;
        }
        h3 {
            letter-spacing: 1px;
            @include small{
                letter-spacing: 2px;
            }
            
        }
        &:hover {
            transform: translateY(-8px);
            transition: all 0.3s ease-in-out;
            &::before {
                border-color: transparent transparent transparent $main;
                transition: all 0.3s ease-in-out;
            }
            &::after {
                background-color: $main;
                transition: all 0.3s ease-in-out;
            }
        }
    }
}

.dialog-btn {
    width: 65px;
    height: 65px;
    line-height: 65px;
    text-align: center;
    border-radius: 50%;
    border: 1px solid $main;
    position: fixed;
    z-index: 4;
    right: 16px;
    bottom: 100px;
    background-color: $white;
    .headset-icon {
        color: $main;
        font-size: 32px;
    }
    &.active {
        background-color: $main;
        border: none;
        .headset-icon {
            color: $white;
        }
    }
}

#dialogModal {
    .modal-dialog {
        max-height: 600px;
        position: absolute;
        bottom: 0;
        @include small {
            right: 100px;
        }
    }
    .modal-header {
        align-items: center;
    }
    .dialog-icon-container {
        width: 40px;
        height: 40px;
        line-height: 40px;
        text-align: center;
        border-radius: 50%;
        background-color: $main;
        flex-shrink:0;
        .headset-icon {
            color: $white;
            font-size: 22px;
        }
    }
    .topicArea {
        position: absolute;
        width: 100%;
        top: 94px;
        z-index: 1;
        text-align: center;
        @include padding(6px, 0);
        background-color: $white;
        @media screen and  (min-width: 417px){
            top: 73px;
        }
    }
    .cs-message {
        display: flex;
        align-items: center;
        &.first {
            padding-top: 40px;
        }
        & > div {
            max-width: 60%;
        }
        .content {
            width: 100%;
            white-space: pre-line;
            word-wrap: break-word;
            border-radius: 20px;
            background-color: $white;
            @include padding(8px, 12px);
        }
    }
    .user-message {
        display: flex;
        justify-content: flex-end;
        & > div {
            max-width: 60%;
            align-items: flex-end;
        }
        .content {
            width: 100%;
            white-space: pre-line;
            word-wrap: break-word;
            border-radius: 20px;
            background-color: $white;
            @include padding(8px, 12px);
        }
    }
    .modal-body {
        background-color: #f5f5f5;
        @include padding(1rem, 1rem);
    }
    .ask-topic {
        label {
            width: 90%;
        }
        input {
            width: 100%;
            border: 1px solid #d9d9d9;
            border-radius: 5px;
            height: 36px;
            padding: 5px;
            border: none;
            &:focus-visible {
                outline-color: $main;
            }
        }
        button {
            border: none;
            background-color: transparent;
            transform: rotate(45deg);
            font-size: 20px;
                color:$dark-text;
        }
    }
    .notInServiceAlert {
        background-color: $white;
        border-radius: 10px;
        i {
            color: $main;
            font-size: 80px;
        }
        button {
            border: none;
            background-color: $dark-text;
            color: $white;
            width: 95%;
            @include padding(8px, 0);
            margin: 16px auto;
            border-radius: 5px;
        }
    }
    ul {
        li:not(:last-child) {
            margin-bottom: 10px;
        }
        li {
            @include padding(6px, 16px);
            background-color: $white;
            border: 1px solid #d9d9d9;
            border-radius: 10px;
            a:hover {
                color: #000000;
            }
        }
    }
    .modal-footer {
        justify-content: space-between;
        @include padding(0.25rem, 0.75rem);
        button {
            border: none;
            background-color: transparent;
        }
        .attatch-btn{
            label{
                cursor:pointer;
            }
            i{
                font-size: 20px;
                color:$dark-text;
            }
        }
        .send-btn {
            transform: rotate(45deg);
            i{
                font-size: 20px;
                color:$dark-text;
            }
        }
        textarea {
            width: 70%;
            @include padding(6px, 10px);
            border-radius: 50px;
            outline: 1px solid #d9d9d9;
            border: none;
            &:focus-visible {
                outline-color: $main;
            }
        }
    }
}

.modal-backdrop {
    background-color: #ffffff;
    z-index: 3;
}

.modal-backdrop.show {
    opacity: 80%;
}

footer {
    background-color: #f7f7f7;
    a:hover {
        color: $grey-text;
    }
    .photonic {
        opacity: 0.3;
    }
}
