.inquiry-main {
    min-height: calc(100vh - 135px);
    .title {
        border-bottom: 1px solid $main;
    }
    h3 {
        font-size: 20px;
        @include medium {
            font-size: 24px;
        }
    }
    .select-btn {
        color: $white;
        background-color: $main;
        border-radius: 40px;
        font-size: 14px;
        @include padding(6px, 12px);
        &:hover {
            outline: 1px solid $main;
            background-color: transparent;
            color: $main;
        }
        @include medium {
            font-size: 16px;
        }
    }
    table {
        // border-collapse: collapse;
        margin: 0;
        padding: 0;
        table-layout: fixed;
        thead {
            display: none;
            background-color: $light-text;
            color: $white;
            th {
                @include padding(8px, 4px);
                font-weight: 500;
            }
            th:first-child {
                padding-left: 8px;
            }
            @include small {
                display: table-header-group;
            }
        }
        tr {
            display: block;
            margin-bottom: 1em;
            border: 1px solid #d9d9d9;
            box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);

            @include small {
                display: table-row;
                box-shadow: none;
                border:none;
            }
        }
        tbody {
            //box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
            // @include small{
            //     box-shadow:none;
            // }
            tr {
                @include small {
                    border: 1px solid #d9d9d9;
                    //border-bottom: 3px solid #D9D9D9;
                }
            }
            td {
                @include padding(8px, 4px);
                display: flex;
                @include small {
                    display: table-cell;
                }
                &::before {
                    content: attr(data-title);
                    display: inline-block;
                    width: auto;
                    min-width: 30%;
                    padding-left: 4px;
                    //background-color:$light-text;
                    // font-variant: small-caps;
                    @include small {
                        display: none;
                    }
                }
                &:nth-child(odd) {
                    background-color: #f5f5f5;
                    @include small {
                        background-color: transparent;
                    }
                }
                &:first-child {
                    @include small{
                        padding-left: 8px;
                    }
                }
                
            }
           
            .delete-btn{
                font-size: 20px;
                background-color:transparent;
                border:none;
                &:hover {
                    color: $main;
                }
            }
        }
        input {
            @include small {
                width: 75%;
            }
            &:focus-visible {
                outline-color: $main;
            }
        }
    }
    .message {
        .message-title {
            background-color: $light-text;
            color: $white;
            font-weight: 500;
            @include padding(8px, 8px);
            @include small {
                @include padding(8px, 16px);
            }
        }
        .item {
            border: 1px solid #d9d9d9;
            div {
                @include padding(8px, 8px);
                @include small {
                    @include padding(8px, 16px);
                }
            }
            & > div:first-child {
                background-color: #f5f5f5;
                @include small {
                    width: 20%;
                }
            }

            textarea {
                border: 1px solid #d9d9d9;
                &:focus-visible {
                    outline-color: $main;
                }
            }
            .attachment {
                width: 100%;
                font-size: 13px;
                @include xsmall {
                    font-size: 14px;
                }
                @include small {
                    font-size: 16px;
                    width: 80%;
                }
                @include medium {
                    width: 70%;
                }
                label {
                    cursor: pointer;
                    .select {
                        @include padding(8px, 8px);
                        @include small {
                            @include padding(8px, 16px);
                        }
                        color: $white;
                        background-color: $light-text;
                    }
                }
                .file {
                    border: 1px solid #d9d9d9;
                    border-right: none;
                    width: 70%;
                    @include padding(6px, 8px);
                    @include small {
                        width: 60%;
                        @include padding(6px, 16px);
                    }
                    @include medium {
                        width: 40%;
                    }
                }
                button {
                    border: 1px solid #d9d9d9;
                    border-left: none;
                    background-color: transparent;
                }
            }
        }
    }
    .send-btn {
        color: $white;
        background-color: #000000;
        border: none;
        width: 100%;
        @include padding(8px);
        transition: all 0.3s ease-in-out;
        &:hover {
            outline: 1px solid #000000;
            background-color: transparent;
            color: #000000;
            transition: all 0.3s ease-in-out;
        }
    }
    .options{
        label{
            width:48%;
       
            @include small{
                width:23%;
            }
        }
    }
}

.lightbox {
    display: flex;
    flex-direction: column;
}

.lb-dataContainer {
    order: 1;
    margin-bottom:8px;
}
.lb-outerContainer {
    order: 2;
}
