.inquiry-main {
  min-height: calc(100vh - 135px);
  .title {
    border-bottom: 1px solid $main;
  }
  h3 {
    font-size: 20px;
    @include medium {
      font-size: 24px;
    }
  }
  .select-btn {
    color: $white;
    background-color: $main;
    border-radius: 40px;
    font-size: 14px;
    @include padding(6px, 12px);
    &:hover {
      outline: 1px solid $main;
      background-color: transparent;
      color: $main;
    }
    @include medium {
      font-size: 16px;
    }
  }
  table {
    // border-collapse: collapse;
    margin: 0;
    padding: 0;
    table-layout: fixed;
    thead {
      display: none;
      background-color: $light-text;
      color: $white;
      th {
        @include padding(8px, 4px);
        font-weight: 500;
      }
      th:first-child {
        padding-left: 8px;
      }
      @include small {
        display: table-header-group;
      }
    }
    tr {
      display: block;
      margin-bottom: 1em;
      border: 1px solid #d9d9d9;
      @include small {
        display: table-row;
        border: none;
      }
    }
    tbody {
      tr {
        @include small {
          border: 1px solid #d9d9d9;
        }
      }
      td {
        display: flex;
        background-color: $light-text;
        padding: 0;
        @include small {
          display: table-cell;
          background-color: transparent;
          border: none;
        }
        &::before {
          content: attr(data-title);
          display: inline-block;
          //   width: auto;
          //   min-width: 30%;
          width: 30%;
          max-width: 30%;
          background-color: $light-text;
          color: $white;
          word-wrap: break-word;
          flex-shrink: 0;
          @include padding(8px, 10px);
          @include small {
            display: none;
          }
        }
        & > span {
          @include padding(8px, 10px);
          background-color: $white;
          word-break: break-all;
          min-width: 70%;
          @include small {
            min-width: auto;
            @include padding(8px, 4px);
          }
        }
        &:first-child {
          @include small {
            padding-left: 8px;
          }
        }
      }
    }

    .delete-btn {
      font-size: 20px;
      background-color: transparent;
      border: none;
      &:hover {
        color: $main;
      }
    }
  }
  input.number {
    @include small {
      width: 75%;
    }
    &:focus-visible {
      outline-color: $main;
    }
  }
}
.message {
  .message-title {
    background-color: $light-text;
    color: $white;
    font-weight: 500;
    @include padding(8px, 8px);
    @include small {
      @include padding(8px, 16px);
    }
  }
  .item {
    border: 1px solid #d9d9d9;
    div {
      @include padding(8px, 8px);
      @include small {
        @include padding(8px, 16px);
      }
    }
    & > div:first-child {
      background-color: #f5f5f5;
      @include small {
        width: 20%;
      }
    }

    textarea {
      border: 1px solid #d9d9d9;
      &:focus-visible {
        outline-color: $main;
      }
    }
    .attachment {
      width: 100%;
      font-size: 13px;
      @include xsmall {
        font-size: 14px;
      }
      @include small {
        font-size: 16px;
        width: 80%;
      }
      @include medium {
        width: 70%;
      }
      label {
        cursor: pointer;
        .select {
          @include padding(8px, 8px);
          @include small {
            @include padding(8px, 16px);
          }
          color: $white;
          background-color: $light-text;
        }
      }
      .file {
        border: 1px solid #d9d9d9;
        border-right: none;
        width: 70%;
        @include padding(6px, 8px);
        @include small {
          width: 60%;
          @include padding(6px, 16px);
        }
        @include medium {
          width: 40%;
        }
      }
      button {
        border: 1px solid #d9d9d9;
        border-left: none;
        background-color: transparent;
      }
    }
  }
}
.send-btn {
  color: $white;
  background-color: #000000;
  border: none;
  width: 100%;
  @include padding(8px);
  transition: all 0.3s ease-in-out;
  &:hover {
    outline: 1px solid #000000;
    background-color: transparent;
    color: #000000;
    transition: all 0.3s ease-in-out;
  }
}
.options {
  column-gap: 4%;
  label {
    cursor: pointer;
    width: 48%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 0;
    position: relative;
    @include padding(10px, 8px);
    border: 1px solid $light-text;
    border-radius: 60px;
    @include small {
      width: 22%;
    }
    input[type="checkbox"] {
      position: absolute;
      opacity: 0;
      cursor: pointer;
      height: 0;
      width: 0;
    }
    .checkmark {
      height: 15px;
      width: 15px;
      margin-right: 8px;
      border: 1px solid $light-text;
      position: relative;
      &::after {
        content: "";
        position: absolute;
        display: none;
        left: 5px;
        top: 2px;
        width: 6px;
        height: 9px;
        border: solid $main;
        border-width: 0 3px 3px 0;
        transform: rotate(45deg);
      }
    }
    & input:checked + .checkmark {
      background-color: $white;
      border: none;
    }
    & input:checked + .checkmark:after {
      display: block;
    }
    &.active {
      background-color: $main;
      border: none;
      color: $white;
    }
  }
}

.lightbox {
  display: flex;
  flex-direction: column;
}

.lb-dataContainer {
  order: 1;
  margin-bottom: 8px;
}
.lb-outerContainer {
  order: 2;
}
